<section class="section">
    <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages-wrapper">
        <li class="advanteges">
           <span class="advantages-cow"><svg width="36" height="36">
                     <use xlink:href="/src/icons/icons.svg#icon-cow"></use>
                </svg>
           </span>
        <p class="advanteges-values">721</p><p class="advantages-paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
        <li class="advanteges">
            <span class="advantages-cow"><svg width="36" height="36">
                <use xlink:href="/src/icons/icons.svg#icon-weight"></use>
           </svg>
      </span>
        <p class="advanteges-values">16KG</p><p  class="advantages-paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
        <li class="advanteges">
            <span class="advantages-cow"><svg width="36" height="36">
                <use xlink:href="/src/icons/icons.svg#icon-ice-cream"></use>
           </svg>
      </span>
        <p class="advanteges-values">84</p><p  class="advantages-paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
    </ul>
</div>    
</section>