<section class="section">
    <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages-wrapper">
        <li class="advantages">
           <div class="advantages-cow advantages-cow-background"></div>
        <p class="advantages-values">721</p><p class="advantages-paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
        <li class="advantages">
            <span class="advantages-weight advantages-cow advantages-cow-background"></span>
        <p class="advantages-values">16KG</p><p  class="advantages-paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
        <li class="advantages">
            <span class="advantages-ice advantages-cow advantages-cow-background"></span>
        <p class="advantages-values">84</p><p  class="advantages-paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
    </ul>
</div>    
</section>