<div class="backdrop is-hidden" data-modal="buy-now" data-modal-backdrop>
  <div class="buy-now-modal">
    <button class="close-modal-btn" type="button" data-modal-close>
      <svg width="32" height="32">
        <use xlink:href="./icons/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-title">Buy now</h2>

    <form name="buy-now">
      <ul class="modal-list">
        <li class="modal-item item-green">
          <input class="input-checkbox" type="checkbox" required />
          <span class="buy-now-modal-product-title">Ice cream</span>
        </li>
        <li class="modal-item item-yellow">
          <input class="input-checkbox" type="checkbox" required /><span
            class="buy-now-modal-product-title"
            >Ice coffee</span
          >
        </li>
        <li class="modal-item item-brown">
          <input class="input-checkbox" type="checkbox" required /><span
            class="buy-now-modal-product-title"
            >Milkshake</span
          >
        </li>
      </ul>
      <div class="input-container">
        <input type="text" name="name" placeholder="Name" minlength="2" required />
      </div>
      <div class="input-container">
        <input type="tel" name="phone" placeholder="Phone" pattern="[0-9]{9}" required />
      </div>
      <div class="input-container">
        <textarea name="comment" placeholder="Comment" cols="30" rows="10" minlength="3"></textarea>
      </div>
      <button class="buy-now-submit-button" type="submit">Submit</button>
    </form>
  </div>
</div>
