<div class="backdrop is-hidden" data-modal="buy-now">
  <div class="buy-now-modal">
    <button class="close-modal-btn" type="button" data-modal-close>
      <svg width="32" height="32">
        <use xlink:href="./icons/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="modal-title">Buy now</h2>
    <ul class="modal-list">
      <li class="modal-item item-green">Ice cream</li>
      <li class="modal-item item-yellow">Ice coffee</li>
      <li class="modal-item item-brown">Milkshake</li>
    </ul>
    <form action="">
      <div class="input-container">
        <input type="text" name="name" placeholder="Name" minlength="2" required />
      </div>
      <div class="input-container">
        <input type="tel" name="phone" placeholder="Phone" minlength="9" required />
      </div>
      <div class="input-container">
        <textarea name="comment" placeholder="Comment" id="" cols="30" rows="10"></textarea>
      </div>
      <button class="submit-button" type="submit">Submit</button>
    </form>
  </div>
</div>
