<section id="contacts" class="contact-section">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-list">
      <li class="contacts-item">
        <p class="contacts-header cafe">CAFE</p>
        <p class="contacts-city">Chicago</p>
        <a href="https://goo.gl/maps/2jdcp2AfNvDhRoU16" target="_blank" class="contacts-place">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
        <p class="contacts-date">Monday - Friday</p>
        <div>
          <span class="contacts-time">06:00 AM - 10:00 PM</span>
          <p class="contacts-date">Saturday - Sunday</p>
          <span class="contacts-time second-time">08:00 AM - 4:00 PM</span>
        </div>
        <a href="tel:+610383766284" class="contacts-phone-link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" target="_blank" class="contacts-mail-link"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts-item">
        <p class="contacts-header foodtrack">FOOD TRACK</p>
        <p class="contacts-city">Los Angeles</p>
        <a href="https://goo.gl/maps/Zrivms8fgMi8eyk79" target="_blank" class="contacts-place">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
        <p class="contacts-date">Monday - Friday</p>
        <span class="contacts-time">06:00 AM - 10:00 PM</span>
        <p class="contacts-date">Saturday - Sunday</p>
        <span class="contacts-time second-time">08:00 AM - 4:00 PM</span>
        <a href="tel:+610383766284" class="contacts-phone-link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" target="_blank" class="contacts-mail-link"
          >noreply@envato.com</a
        >
      </li>
      <li class="contacts-item">
        <p class="contacts-header cafe">CAFE</p>
        <p class="contacts-city">New York</p>
        <a href="https://goo.gl/maps/kqBsJde7QTzwTSuu5" target="_blank" class="contacts-place">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
        <p class="contacts-date">Monday - Friday</p>
        <span class="contacts-time">06:00 AM - 10:00 PM</span>
        <p class="contacts-date">Saturday - Sunday</p>
        <span class="contacts-time second-time">08:00 AM - 4:00 PM</span>
        <a href="tel:+610383766284" class="contacts-phone-link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" target="_blank" class="contacts-mail-link"
        >noreply@envato.com</a
      >
    </li>
  </ul>
  <div class="contacts-buttons">
    <button class="location-button" data-modal-open="location">Our Locations ></button>
    <button class="franchise-button" data-modal-open="franchise">Franchise ></button>
  </div>
  </div>
</section>
