<section class="contact-section">
  <h1 class="visually-hidden">Contacts</h1>
  <div class="contacts-div">
    <p class="contacts-header">CAFE</p>
    <p class="city">Chicago</p>
    <span class="place">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</span>
    <p class="date">Monday - Friday</p>
    <span class="time">06:00 AM - 10:00 PM</span>
    <p class="date">Saturday - Sunday</p>
    <span class="time">08:00 AM - 4:00 PM</span>
    <a href="#">+61(0) 383 766 284</a>
    <a href="#">noreply@envato.com</a>
  </div>
  <div class="contacts-div">
    <p class="contacts-header"></p>>FOOD TRACK</p>
    <p class="city">Los Angeles</p>
    <span class="place">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</span>
    <p class="date">Monday - Friday</p>
    <span class="time">06:00 AM - 10:00 PM</span>
    <p class="date">Saturday - Sunday</p>
    <span class="time">08:00 AM - 4:00 PM</span>
    <a href="#">+61(0) 383 766 284</a>
    <a href="#">noreply@envato.com</a>
  </div>
  <div class="contacts-div">
    <p class="contacts-header">CAFE</p>
    <p class="city">New York</p>
    <span class="place">726 Sterling Pl, Brooklyn, NY 11222, USA</span>
    <p class="date">Monday - Friday</p>
    <span class="time">06:00 AM - 10:00 PM</span>
    <p class="date">Saturday - Sunday</p>
    <span class="time">08:00 AM - 4:00 PM</span>
    <a href="#">+61(0) 383 766 284</a>
    <a href="#">noreply@envato.com</a>
  </div>
  <button class="location-button">Our Locations</button>
  <button class="franchise-button">Franchise</button>
</section>
