<section class="customer-review">
  <div class="container">
    <h2 class="visually-hidden">customers reviews</h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="customer-review-item swiper-slide">
          <img
            class="customer-image"
            src="./images/customer1.jpg"
            srcset="./images/customer1@2x.jpg"
            alt=""
          />
          <p class="customer-review-text">
            I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
            addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <p class="customer-review-meta-data">Emily, Los Angeles</p>
        </li>
        <li class="customer-review-item swiper-slide">
          <img
            class="customer-image"
            src="./images/customer2.png"
            srcset="./images/customer2@2x.png"
            alt=""
          />

          <p class="customer-review-text">
            Every day we come to you with friends after classes in college. We love your ice cream
            and casual atmosphere!
          </p>
          <p class="customer-review-meta-data">Bryan, New-York</p>
        </li>
        <li class="customer-review-item swiper-slide">
          <img
            class="customer-image"
            src="./images/customer3.png"
            srcset="./images/customer3@2x.png"
            alt=""
          />
          <p class="customer-review-text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
            excellent service - always served politely and quickly!
          </p>
          <p class="customer-review-meta-data">Diana, Chicago</p>
        </li>
      </ul>
    </div>
    <div class="customer-review-pagination swiper-pagination"></div>
  </div>
</section>
