<section class="customers section">
    <ul class="customers-list">
        <li class="customers-photo">
        <img src="images/customer1.jpg"
                width="85px"
                height="85px"
                top="562px"
                left="610px"
              />
        </li>      
        <li class="customers-opinion">
            <div class="customers-opinion-text">
            <p>
                I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! 
                In addition, you have beautiful serving, cozy atmosphere and polite staff.
            </p>
            </div>
            <div class="customers-opinion-name">
            <p>
                Emily, Los Angeles
            </p>
            </div>
        </li>            
        <img src="images/customer2.png"
                width="85px"
                height="85px"
                top="562px"
                left="610px"
              />
        </li>      
        <li class="customers-opinion">
            <div class="customers-opinion-text">
            <p>
                Every day we come to you with friends after classes in college.
                We love your ice cream and casual atmosphere!
            </p>
            </div>
            <div class="customers-opinion-name">
            <p>
                Bryan, New York
            </p>
            </div>
        </li>
        <img src="images/customer3.png"
                width="85px"
                height="85px"
                top="562px"
                left="610px"
              />
        </li>      
        <li class="customers-opinion">
            <div class="customers-opinion-text">
            <p>
                Ice cream is my passion! I love your chocolate hazelnut ice cream! 
                And I really like the excellent service - always served politely and quickly!
            </p>
            </div>
            <div class="customers-opinion-name">
            <p>
                Diana, Chicago
            </p>
            </div>
        </li>
    </ul> 
    <div class="customers-swiper">
        <div class="customers-swiper-wrapper">
          
          <div class="customers-swiper-slide">Slide 1</div>
          <div class="customers-swiper-slide">Slide 2</div>
          <div class="customers-swiper-slide">Slide 3</div>
        </div>
        <div class="customers-swiper-pagination"></div>                   
</section>