<!-- <section id="gallery" class="gallery section">
    <div class="container gallery_content">
      <div class="gallery_animation">
        <img
          class="gallery_image"
          src="./images/desktop-gallery@1x.jpg"
          srcset="./images/desktop-gallery@1x.jpg"
          alt="ice cream "
          width="1013"
          height="422"
        />
        <img
          class="gallery_image"
          src="./images/desktop-gallery1@1x.jpg"
          srcset="./images/desktop-gallery1@1x.jpg"
          alt="ice cream "
          width="1013"
          height="422"
        />
        <img
          class="gallery_image"
          src="./images/desktop-gallery2@1x.jpg"
          srcset="./images/desktop-gallery2@1x.jpg"
          alt="ice cream "
          width="1013"
          height="422"
        />
        </div>
      </div>

</section> -->
