<section id="hero" class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">ice cream made with <span class="hero-title-accent">passion</span></h1>
      <div class="hero-links">
        <a class="btn btn-border" href="#products">Products</a>
        <a class="btn btn-underline" href="#about">How it's made</a>
      </div>
      <div class="hero-image-container">
        <img src="./images/mobile.png" srcset="" alt="" />
      </div>
    </div>
  </div>
</section>
