<div class="backdrop is-hidden" data-modal="location">
  <div class="location-modal">
    <button class="location-close" type="button" data-modal-close>
      <svg width="24" height="24">
        <use href="./icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="location-modal-header">Our Locations</h2>
  <iframe  class="location-container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.7936421460195!2d-87.7797401!3d41.703390299999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2s10340%20Ridgeland%20Ave%2C%20Chicago%20Ridge%2C%20IL%2060415%2C%20USA!5e0!3m2!1sen!2spl!4v1694435674968!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <a class="open-map"
        href="https://goo.gl/maps/2jdcp2AfNvDhRoU16"
        target="_blank"
        >Open map</a>
  </div>
</div>
