<div class="backdrop is-hidden" data-modal="location">
  <div class="location-modal">
    <button class="location-close" type="button" data-modal-close>
      <svg width="24" height="24">
        <use href="./icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="location-modal-header">Our Locations</h2>
    <img src="./images/our-location.jpg" alt="Our Location" class="location-img" />
    <button class="open-map" type="button">
      <a
        href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+Stany+Zjednoczone/@41.7033943,-87.782315,17z/data=!3m1!4b1!4m6!3m5!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7033903!4d-87.7797401!16s%2Fg%2F11jnxh2b00?entry=ttu"
        >Open map</a
      >
    </button>
    <picture class="location-container">
      <!-- <source srcset="../images/our-location.jpg" media="min-width:320px" />
      <source srcset="../images/our-location.jpg" media="min-width:768px" />
      <source srcset="../images/our-location.jpg" media="min-width:1200px" /> -->
      <img src="./images/our-location.jpg" alt="Our Location" class="location-img" />
    </picture>

    <a
      href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+Stany+Zjednoczone/@41.7033943,-87.782315,17z/data=!3m1!4b1!4m6!3m5!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7033903!4d-87.7797401!16s%2Fg%2F11jnxh2b00?entry=ttu"
      target="_blank"
      ><button class="open-map" type="button">Open map</button></a
    >
  </div>
</div>
