<div class="backdrop is-hidden" data-modal="location">
  <div class="location-modal">
    <button class="location-close" type="button" data-modal-close>
      <svg width="24" height="24">
        <use href="./icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="location-modal-header">Our Locations</h2>
    <a
      href="https://goo.gl/maps/2jdcp2AfNvDhRoU16"
      class="location-link"
      target="_blank"
    >
      <picture class="location-container">
        <!-- <source srcset="../images/our-location.jpg" media="min-width:320px" />
      <source srcset="../images/our-location.jpg" media="min-width:768px" />
      <source srcset="../images/our-location.jpg" media="min-width:1200px" /> -->
        <img src="./images/our-location.jpg" alt="Our Location" class="location-img" /> </picture
    ></a>
      <a class="open-map"
        href="https://goo.gl/maps/2jdcp2AfNvDhRoU16"
        target="_blank"
        >Open map</a>
  </div>
</div>
