
<div class="backdrop is-hidden" data-modal="products">
<div class="product-modal-wrapper">
    <button class="product-modal-close" data-modal-close>
        <svg width="20" height="20">
            <use href="./icons/icons.svg#icon-close"></use>
        </svg>
    </button>
    <h2 class="product-modal-title">Chocolate icecream</h2>
    <div class="product-modal-stats">
    <ul class="product-modal-stats-list">
        <li class="product-modal-stats-item">320</li>
        <li class="product-modal-stats-item">4g</li>
        <li class="product-modal-stats-item">8,2g</li>
        <li class="product-modal-stats-item">40,4g</li>
    </ul>
    <ul class="product-modal-stats-list-2">
        <li class="product-modal-stats-item-name">kcal</li>
        <li class="product-modal-stats-item-name">Protein</li>
        <li class="product-modal-stats-item-name">Fats</li>
        <li class="product-modal-stats-item-name">Carbs</li>
    </ul>
    </div>
    <h3 class="product-modal-ingredients-title">Ingredients</h3>
    <div class="product-modal-ingredients-block">
    <ul class="product-modal-ingredient-list">
        <li class="product-modal-ingredients-name">Milk</li>
        <li class="product-modal-ingredients-name">Belgian chocolate</li>
        <li class="product-modal-ingredients-name">Cream</li>
        <li class="product-modal-ingredients-name">Cocoa powder</li>
        <li class="product-modal-ingredients-name">Sugar</li>
        <li class="product-modal-ingredients-name">Vanilla sugar</li>
    </ul>
    <ul class="product-modal-ingredient-list">
        <li class="product-modal-ingredients-value">100ml</li>
        <li class="product-modal-ingredients-value">20g</li>
        <li class="product-modal-ingredients-value">150ml</li>
        <li class="product-modal-ingredients-value">30g</li>
        <li class="product-modal-ingredients-value">40g</li>
        <li class="product-modal-ingredients-value">10g</li>
    </ul>
    </div>
    <div>
        <form name="product-order-form" class="product-modal-order-form">
            <label for="clientname" class="visually-hidden">Name</label>
            <div class="product-modal-input-wrapper">
                <input class="product-modal-input" type="text" name="clientname" id="clientname" placeholder="Name" required />
            </div>
            <label for="phonenumber" class="visually-hidden">Phone</label>
            <div class="product-modal-input-wrapper">
                <input class="product-modal-input" type="number" name="phonenumber" id="phonenumber" placeholder="Phone" required />
            </div>
            <label for="clientcomment" class="visually-hidden">Comment</label>
            <div class="product-modal-input-wrapper">
                <textarea class="product-modal-input" name="clientcomment" id="clientcomment" placeholder="Comment" rows="5" wrap="hard"></textarea>
            </div>
    <button class="product-modal-submit-button" type="submit">Submit</button>
    </div>
</div>
</div>