<section id="products" class="products-section">
    <div class="container products-box">
        <p class="products-name-head-small">100% natural</p>
        <h2 class="products-name-head-big">products</h2>
        <ul class="products-list">
        <li class="products-item products-item-green">
            <div class="products-card">
                <h3 class="product-name">ice cream</h3>
                <p class="product-name-description">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                
            </div>
            <button id="ice-cream-btn" type="button" class="products-link" data-modal-open="products">
                <svg class="products-arrow" width="40" height="16">
                    <use href="./icons/icons.svg#icon-arrow"></use>
                </svg>
            </button>
        </li>
        <li class="products-item products-item-yellow">
            <div class="products-card">
                <h3 class="product-name">ice coffee</h3>
                <p class="product-name-description">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
                
            </div>
            <button id="ice-coffe-btn" type="button" class="products-link" data-modal-open="products">
                <svg class="products-arrow" width="40" height="16">
                    <use href="./icons/icons.svg#icon-arrow"></use>
               </svg>
            </button>
        </li>
        <li class="products-item products-item-brown">
            <div class="products-card">
                <h3 class="product-name">milkshakes</h3>
                <p class="product-name-description">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
            </div>
            <button id="ice-milkshake-btn" type="button" class="products-link" data-modal-open="products">
                <svg class="products-arrow" width="40" height="16">
                    <use href="./icons/icons.svg#icon-arrow"></use>
               </svg>
            </button>
        </li>
        </ul>
    </div>
</section>
