<div class="backdrop is-hidden" data-modal="read-more">
  <div class="read-more-modal">
    <div class="read-more-wrapper">
      <button class="read-more-button" type="button" data-modal-close>
        <svg width="20" height="20">
          <use href="./icons/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="read-more-title">How it's made</h2>
      <p class="read-more-video">
        <iframe src="https://www.youtube.com/watch?v=mQU_LMrf0Os.html"></iframe>
      </p>
      <p class="read-more-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et
      </p>
    </div>
  </div>
</div>
