<div class="backdrop is-hidden" data-modal="read-more">
  <div class="read-more-wrapper">
    <button class="read-more-button" type="button" data-modal-close>
      <svg width="20" height="20">
        <use href="./icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="read-more-title">How it's made</h2>
    <iframe  class="read-more-video" width="448" height="205" src="https://www.youtube.com/embed/mQU_LMrf0Os?si=_9r18koCnsVxzknd"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <p class="read-more-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et
    </p>
  </div>
</div>
