
.advantages-values {
    color: var(--text-white);
    text-Align: center;
    font-Family:'Montserrat';
    font-Size: 36px;
    font-Style: normal;
    font-Weight: 700;
    line-Height: normal;
    letter-Spacing: 1.44px;
    text-Transform: uppercase;
  }
  .advantages-paragraph {
    width: 230px;
    color: var(--text-white);
    text-Align: center;
    font-Family:'Montserrat';
    font-Size: 12px;
    font-Style: normal;
    font-Weight: 400;
    line-Height: 170%; /* 20.4px */
    letter-Spacing: 0.32px;
    }
    @media screen and (min-width: 768px) {
        .advantages-paragraph {
         width: 152px;
         flex-Shrink: 0;
         font-Size: 14px;           
         line-Height: 174%; /* 24.36px */
        }
    }
    @media screen and (min-width: 1200px) {
        .advantages-paragraph {
        width: 368px;       
        font-Size: 16px;
        line-Height: 176%; /* 28.16px */
         }
    }
    .advantages-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 28px;
    display: flex;
    }
    @media screen and (min-width: 768px) {
        .advantages-wrapper {
        flex-direction: row;
        align-items: center;
        row-gap: unset;
        display: flex;
        gap: 80px;
        justify-content: center;
        }
    }
    @media screen and (min-width: 1200px) {
        .advantages-wrapper {
            gap: 32px;
        }
    }

   .advantages-cow-background {
    width: 50px;
    height: 50px;
    flex-Shrink: 0;
    background: var(--yellow);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .advantages-cow::before {
    content:url('/src/images/cow.png');
    display: inline-block;
    width: 36px;
    height: 36px;
      }
  .advantages-weight::before {
   content:url('/src/images/weight.png');
   display: inline-block;
   width: 36px;
   height: 36px;
  }
  .advantages-ice::before {
   content:url('/src/images/ice-cream-icon.png');
   display: inline-block;
   width: 36px;
   height: 36px;
              }
  @media screen and (min-width: 1200px) {
    .advantages-cow  {
    margin-bottom: 40px;
    }
  }
  .advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  @media screen and (min-width: 768px) {
    .advantages {
    width: 152px;
    }
  }
  @media screen and (min-width: 1200px) {
    .advantages {
    width: 368px;
    }
  }