.footer-title { color: var(--text-white);
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                width: 232px;  
                margin: 60px 0;            
}
.footer-title-text { margin-top: 16px;
                     font-size: 34px;
                     letter-spacing: 1.36px;
                     }
.footer-socials-list { display: flex;
                        gap: 20px;
                        margin-bottom: 20px;
                        justify-content: flex-end;
                  }
.footer-socials-item {  color: var(--main-green);
                        background-color: var(--yellow);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        }
.footer-contact-tel{ display: flex;
                     justify-content: flex-end;
                     font-size: 12px;
                     font-weight: 700;
                     line-height: 1.86;
                     padding-bottom: 40px;
                    }
.footer-contact-tel a {color: var(--text-white);}

.footer-row {border-bottom: 1px solid #e1e1e1;}

.footer-copyright { font-weight:700;
                    line-height: 1.52;
                    text-align: center;
                    color: #7a7a7a;
                    margin: 20px auto;
                    max-width: 280px;
                    text-wrap: balance;               
}

@media screen and (min-width: 768px) { 
.footer-title {
        color: var(--text-white);
        font-size: 26px;
        width: 352px;
        margin-top: 40px;
        margin-bottom: 32px;
    }

    .footer-title-text {
        margin-top: 8px;
        font-size: 48px;
        letter-spacing: 2.88px;
    }
    .footer-row{ display: flex;
                        justify-content: space-between;
                         }
    .footer-column:nth-child(2) {margin-top: 101px;}
    .footer-copyright {
        line-height: 1.86;
        letter-spacing: 0.28px;
        margin: 12px auto;
        text-wrap: nowrap;
        padding: 0;}

    
}
@media screen and (min-width: 1200px) {
    .footer-title {
            font-size: 30px;
            font-weight: 400;
            width: 504px;
            margin: 60px 0;
            letter-spacing: 1.2px;
        }
    
    .footer-title-text {
            margin-top: 14px;
            font-size: 58px;
            letter-spacing: 3.48px;
            font-weight: 700;
        }
    .footer-socials-list{ margin-bottom: 40px;}
    .footer-row{ display: flex;
                        align-items: last baseline;
                         }
    .footer-contact-tel {
                    font-size: 16px;
                    letter-spacing: 0.32px;
                }

    .footer-socials-item:focus,
        .footer-socials-item:hover {
            color: var(--text-white);
        }
}                        
