:root {
  --text: #131313;
  --main-green: #84a178;
  --card-green: #aec6a5;
  --ingredients-green: #9cbe8f;
  --button-green: #0a8817;
  --grey-dissabled: #ababab;
  --yellow: #f8d24e;
  --card-yellow: #efd478;
  --brown: #d6936d;
  --brown-underlay: #d5753fb2; /*70% transparency - product circle*/
  --green-underlay: #9cbe8fb2; /*70% transparency - product circle*/
  --yellow-underlay: #f8d24eb2; /*70% transparency - product circle*/
  --text-white: #fcfcfc;
  --stroke: #e1e1e1;
  --white: #fff;
  --black: #000;
  --box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}

header {
  padding-block: 12px;
  background-color: var(--main-green);
}
.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
}
.header-bar {
  display: flex;
}
.logo img {
  display: block;
  width: 40px;
  height: 37px;
}

.header-navigation {
  display: none;
}
.header-buttons {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.btn-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
}
.burger-icon {
  fill: var(--white);
}
.btn-buy {
  display: none;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .logo img {
    width: 48px;
    height: 44px;
  }
  .btn-buy {
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 10px;
    outline: none;
    padding: 10px 32px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: var(--yellow);
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-buy:hover {
    background-color: var(--button-green);
  }
  .btn-buy:focus {
    background-color: var(--button-green);
    color: var(--white);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 16px;
  }
  .logo img {
    width: 60px;
    height: 55px;
  }
  .header-navigation {
    display: flex;
    margin-left: auto;
  }
  .header-navigation-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .header-navigation-link {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-navigation-link:hover,
  .header-navigation-link:focus {
    color: var(--yellow);
  }
}
