.hero {
  background-color: var(--main-green);
  position: relative;
}

.hero-content {
  padding-top: 99px;
  padding-bottom: 239px;
}
.hero-ic-image {
  animation: icecream-rotate 0.5s ease-in-out 0.25s forwards, icecream-arise 0.5s ease-in-out 0.25s;
  filter: drop-shadow(0 0 5px var(--text-white));
  transition: filter 500ms;
}
@keyframes icecream-rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 2turn;
  }
}
@keyframes icecream-arise {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
.hero-ic-image:hover {
  filter: drop-shadow(0 0 30px var(--text-white));
}
.hero-plate {
  transition: transform 9s ease-in-out;
}
.hero-plate:hover {
  transform: rotate(3turn);
}
.hero-title {
  max-width: 250px;
  color: var(--text-white);
  font-family: Seymour One, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.04px;
  text-transform: uppercase;
}
.arrow-button {
  transform-origin: 0;
  background-color: transparent;
  border-color: transparent;
  outline: none;
}
.hero-arrow {
  transition: transform 0.5s easy-in-out;
}
.hero-arrow:hover {
  transform: scale(1.3, 1);
}
.hero-title .hero-title-accent {
  color: var(--text-white);
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.5%;
  text-transform: uppercase;
}
.hero-links {
  display: flex;
  margin-top: 32px;
  gap: 12px;
}
.btn-border {
  color: var(--text);
  background-color: transparent;
  border: 2px solid var(--yellow);
  outline: 0;
  border-radius: 8px;
  letter-spacing: normal;
  padding: 11px 26px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-underline {
  padding: 11px 9px;
  color: var(--yellow);
  text-decoration: underline;
  font-size: 12px;

  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-description {
  display: none;
}
.stats {
  display: none;
}
@media screen and (max-width: 479px) {
  .hero-image-container {
    position: absolute;
    bottom: 0;
    width: 177px;
    left: 160px;
    transform: translateX(-50%);
  }
  .hero .container {
    background: url(../images/phone-left-balls@1x.png) 0 100%/100px 34px no-repeat,
      url(../images/phone-right-balls@1x.png) 200px 100%/130 48px no-repeat;
    position: relative;
  }
}
@media screen and (min-width: 480px) {
  .hero .container {
    background: url(../images/phone-left-balls@1x.png) 50% 100%/100px 34px no-repeat,
      url(../images/phone-right-balls@1x.png) 105% 100%/130 48px no-repeat;
    position: relative;
  }
  .hero-image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 218px;
  }
}

@media screen and (min-width: 768px) {
  .hero .container {
    background: url(../images/tablet-left-balls@1x.png) 0 100%/110px 34px no-repeat,
      url(../images/tablet-right-balls@1x.png) 100% 100%/182 67px no-repeat;
    position: relative;
  }
  .hero-content {
    padding-top: 80px;
    padding-bottom: 12px;
    position: relative;
  }
  .hero-description {
    display: flex;
    margin-top: 12px;
    align-items: center;
    gap: 32px;
  }
  .hero-description img {
    width: 152px;
    height: 152px;
  }
  .hero-description .text-container {
    display: flex;
    flex-direction: column;
    gap: 29px;
  }
  .hero-description .hero-text {
    max-width: 180px;
    color: var(--text-white);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
  }
  .hero-description .hero-link {
    display: block;
  }
  .hero-link svg {
    width: 40px;
    height: 16px;
    fill: var(--text-white);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-image-container {
    position: absolute;
    width: 268px;
    bottom: 0;
    right: 69px;
  }
  .stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 94px;
    right: 0;
  }
  .stats-item {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: var(--text-white);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .stats-number {
    color: var(--text);
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.52px;
    text-transform: uppercase;
    max-width: 367px;
  }
  .hero-content {
    padding-top: 118px;
    padding-bottom: 65px;
  }
  .btn-border {
    padding: 12px 34px;
  }
  .btn-border:hover {
    border-color: var(--button-green);
  }
  .btn-border:focus {
    border-color: var(--button-green);
    color: var(--text-white);
  }
  .btn-underline:hover {
    color: var(--button-green);
  }
  .btn-underline:focus {
    color: var(--text-white);
  }
  .hero-links {
    display: flex;
    margin-top: 28px;
    gap: 12px;
  }
  .hero-description {
    margin-top: 42px;
    gap: 16px;
  }
  .hero-description .hero-text {
    max-width: 215px;
    color: var(--text-white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
  }
  .hero-description .text-container {
    gap: 24px;
  }
  .hero-description img {
    width: 225px;
    height: 225px;
  }
  .hero .container {
    background: url(../images/desktop-balls@1x.png) bottom/1200px 384px no-repeat;
    position: relative;
  }
  .stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 94px;
  }
  .hero-image-container {
    width: 447px;
    right: 86px;
  }
  .stats-item {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: var(--text-white);
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .stats-number {
    color: var(--text);
    text-align: right;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.84px;
    text-transform: uppercase;
  }
}

/* @media (max-width: 479px) and
(min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero .container {
    background-image: url(../images/phone-left-balls@2x.png),
      url(../images/phone-right-balls@2x.png);
  }
}

@media (min-width: 480px), (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero .container {
    background: url(../images/phone-left-balls@2x.png) 50% 100%/100px 34px no-repeat,
      url(../images/phone-right-balls@2x.png) 105% 100%/130 48px no-repeat;
  }
}


@media (min-width: 768px),
(min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero .container {
    background: url(../images/tablet-left-balls@2x.png) 0 100%/110px 34px no-repeat,
      url(../images/tablet-right-balls@2x.png) 100% 100%/182 67px no-repeat;
  }
}

@media (min-width: 1200px) and
(min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero .container {
    background-image: url(../images/desktop-balls@2x.png);
  }
}  */
