.location-modal {
  position: relative;
  width: 280px;
  height: 365px;
  background-color: var(--text-white);
  border: 2px solid var(--yellow-underlay);
  border-radius: 10px;
  margin: auto;
  padding: 28px;
  transition: scale 250ms, opacity 250ms;
}
.is-hidden .location-modal {
  scale: 2;
  opacity: 0;
}
.backdrop:not(.is-hidden) .location-modal {
  scale: 1;
  opacity: 1;
}
.location-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: var(--text-white);
  transition: transform 500ms;
}

.location-modal-header {
  text-align: center;
  font-family: Seymour One;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.location-container {
  width: 224px;
  height: 199px;
  border-radius: 10px;
  display: block;
}

.open-map {
  margin: 24px auto 0;
  width: 134px;
  height: 42px;
  background-color: var(--yellow);
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  transition: background-color 0.25s ease-in-out;
}
.open-map:hover,
.open-map:focus {
  background-color: var(--button-green);
}
@media screen and (min-width: 768px) {
  .location-modal {
    width: 568px;
    height: 468px;
    padding: 32px 60px;
  }
  .location-modal-header {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
  .location-container {
    width: 448px;
    height: 260px;
  }

  .open-map {
    margin-top: 32px;
    width: 145px;
    height: 42px;
    font-size: 14px;
  }
  .location-close:hover {
    transform: rotate(1turn);
  }
}
@media screen and (min-width: 1200) {
  .open-map {
    transition: background-color 0.25s ease-in-out;
  }
  .open-map:hover,
  .open-map:focus {
    background-color: var(--button-green);
  }
}
