/* .backdrop {
  position: fixed;
  inset: 0;
  background-color: hsla(237, 18%, 22%, 0.4);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition: opacity 250ms;
} */
.location-modal {
  position: relative;
  max-width: 568px;
  height: auto;
  background-color: var(--text-white);
  border: 2px solid var(--yellow-underlay);
  border-radius: 10px;
}
