.product-modal-wrapper {
  position: relative;
  width: 280px;
  height: auto;
  margin: auto;
  background-color: var(--text-white);
  transition: scale 250ms;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  padding: 28px 20px;
}

.product-modal-close {
  position: absolute;
  width: 20px;
  height: 20px;
  inset: 12px 12px auto auto;
  border-radius: 50%;
  border: none;
  background-color: var(--text-white);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms;
  }
  
  .product-modal-close:hover {
    transform: rotate(1turn);
  }

.product-modal-title {
  text-align: center;
  font-family: 'Seymour One', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.product-modal-image,
.product-modal-image-coffee,
.product-modal-image-milkshakes {
  width: 131px;
  height: 131px;

  border-radius: 50%;
  margin: 0 auto 25px;
  display: block;
  position: relative;
}
.product-modal-image {
  background: linear-gradient(rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
}
.product-modal-image-coffee {
  background: linear-gradient(#efd478, #efd478), #d9d9d9;
}
.product-modal-image-milkshakes {
  background: linear-gradient(#d6936d, #d6936d), #d9d9d9;
}
.product-modal-image::after {
  content: '';
  width: 131px;
  height: 131px;
  background-image: url('../images/icecream-modal-two.png');
  border-radius: 50%;
  position: absolute;
  top: -7px;
  box-shadow: 0 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.product-modal-image::after {
  content: '';
  width: 131px;
  height: 131px;
  background-image: url('../images/icecream-modal-two.png');
  border-radius: 50%;
  position: absolute;
  top: -7px;
  box-shadow: 0 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.product-modal-image::after {
  content: '';
  width: 131px;
  height: 131px;
  background-image: url('../images/icecream-modal-two.png');
  border-radius: 50%;
  position: absolute;
  top: -7px;
  box-shadow: 0 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.product-modal-image-coffee:after {
  content: '';
  width: 131px;
  height: 131px;
  background-image: url('../images/ice-coffee-modal.png');
  border-radius: 50%;
  position: absolute;
  top: -7px;
  box-shadow: 0 5.26027px 19.726px var(--yellow-underlay);
}
.product-modal-image-milkshakes:after {
  content: '';
  width: 131px;
  height: 131px;
  background-image: url('../images/milkshake-modal.png');
  border-radius: 50%;
  position: absolute;
  top: -7px;
  box-shadow: 0 5.26027px 19.726px var(--brown-underlay);
}
.product-modal-stats-list-2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.product-modal-stats-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 18.5px;
}

.product-modal-stats-item {
  font-size: 10px;
  width: 53px;
  height: 72px;
  border-radius: 40px;
  border: 2px solid #9cbe8f;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 8px;
  position: relative;
}

.product-modal-stats-item-value {
  background-color: var(--ingredients-green);
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  font-size: 10px;
  font-weight: 500;
  line-height: 28px;
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-modal-ingredients-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 24px;
  margin-top: 20px;
}

.product-modal-ingredients-block {
  display: flex;
  justify-content: space-between;
  line-height: 1.76;
  letter-spacing: 0.56px;
  margin-bottom: 29px;
}

.product-modal-ingredients-name {
  margin-bottom: 11px;
}

.product-modal-ingredients-value {
  text-align: right;
  margin-bottom: 11px;
}

.product-modal-order-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 16px;
  line-height: 1.4px;
}

.product-modal-input-wrapper input {
  width: 240px;
  padding-block: 11px;
  padding-inline-start: 11px;
  border-radius: 10px;
  height: 42px;
  border: 1px solid var(--main-green);
  background: var(--form-yellow-underlay);
}

.product-modal-input-wrapper textarea {
  width: 240px;
  padding-block: 11px;
  padding-inline-start: 11px;
  border-radius: 10px;
  height: 84px;
  border: 1px solid var(--main-green);
  background: var(--form-yellow-underlay);
}

.product-modal-input-wrapper input:focus, .product-modal-input textarea:focus {
  background-color: var(--card-yellow);
  outline: var(--black);
}

.product-modal-input::placeholder {
  font-family: Montserrat, sans-serif;
  color: var(--text);
}

.product-modal-submit-button {
  font-family: Montserrat, sans-serif;
  margin-top: 8px;
  width: 132px;
  height: 42px;
  border-radius: 10px;
  background-color: var(--yellow);
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .product-modal-wrapper {
    width: 568px;
    padding: 32px 40px;
  }

  .product-modal-title {
    margin-bottom: 20px;
  }

  .product-modal-stats {
    margin-bottom: 48px;
  }

  .product-modal-stats-list-2 {
    gap: 20px;
  }

  .product-modal-stats-list {
    gap: 30px;
  }

  .product-modal-ingredients-block {
    margin-bottom: 37px;
  }

  .product-modal-input-wrapper input {
    width: 368px;
    padding-inline-start: 16px;
  }
  .product-modal-input-wrapper textarea {
    width: 368px;
    padding-inline-start: 16px;
  }

  .product-modal-submit-button {
    margin-top: 16px;
    width: 121px;
  }
}

.product-modal-input-wrapper input:not(:placeholder-shown):required:valid,
.product-modal-input-wrapper textarea:not(:placeholder-shown):required:valid {
  border: 2px solid green;
}

.product-modal-input-wrapper input:not(:placeholder-shown):required:invalid,
.product-modal-input-wrapper textarea:not(:placeholder-shown):required:invalid {
  border: 2px solid red;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .product-modal-image::after {
      background-image: url('../images/icecream-modal-two@2x.png') 25%/25% no-repeat;
    }
  
    .product-modal-image-coffee:after {
      background-image: url('../images/ice-coffee-modal@2x.png') 25%/25% no-repeat;
    }
  
    .product-modal-image-milkshakes:after {
      background-image: url('../images/milkshake-modal@2x.png') 25%/25% no-repeat;
    }
}