:root {
  --text: #131313;
  --main-green: #84a178;
  --card-green: #aec6a5;
  --ingredients-green: #9cbe8f;
  --button-green: #0a8817;
  --grey-disabled: #ababab;
  --yellow: #f8d24e;
  --card-yellow: #efd478;
  --form-yellow-underlay: #f8d24e1a;
  --brown: #d6936d;
  --brown-underlay: #d5753fb2; /*70% transparency - product circle*/
  --green-underlay: #9cbe8fb2; /*70% transparency - product circle*/
  --yellow-underlay: #f8d24eb2; /*70% transparency - product circle*/
  --text-white: #fcfcfc;
  --stroke: #e1e1e1;
  --white: #fff;
  --black: #000;
  --box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  --transition-general-duration: 250ms;
  --transition-general-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-general: var(--transition-general-duration) var(--transition-general-function);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
  font-size: 14px;
  font-weight: 400;
  background-color: var(--main-green);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
}
textarea {
  resize: none;
}

.btn {
  color: var(--text);
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  font-weight: 600;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

svg {
  display: block;
  fill: currentColor;
  pointer-events: none;
}

.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  margin-top: 60px;
  margin-bottom: 60px;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2000;
  background-color: rgba(10, 10, 10, 0.5);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  padding: 20px;
}
.gallery-customers-review-section {
  position: relative;
  background-color: var(--text-white);
  width: 100%;
  height: 1110px;
  background-image: url(../images/background-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 175px;
}

.go-to-top-button {
  position: fixed;
  inset: auto 5px 5px auto;
  z-index: 10;
  width: 75px;
  filter: drop-shadow(5px 4px 3px #1a1a1aaa);
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .gallery-customers-review-section {
    position: relative;
    background-color: var(--text-white);
    width: 100%;
    height: 1110px;
    background-image: url(../images/background-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 175px;
  }
  .go-to-top-button {
    width: 100px;
    filter: drop-shadow(7px 6px 5px #1a1a1aaa);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-customers-review-section {
    position: relative;
    background-color: var(--text-white);
    width: 100%;
    height: 1110px;
    background-image: url(../images/background-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 175px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .gallery-customers-review-section {
    position: relative;
    height: 1017px;
    padding-top: 223px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 16px;
  }
  .gallery-customers-review-section {
    position: relative;
    height: 1053px;
    padding-top: 404px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .gallery-customers-review-section {
    background-image: url(../images/background-mobile@2x.png);
  }
}
@media screen and (min-width: 768px),
  (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .gallery-customers-review-section {
    background-image: url(../images/background-tablet@2x.png);
  }
}

@media screen and (min-width: 1200px),
  (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .gallery-customers-review-section {
    background-image: url(../images/background-desktop@2x.png);
  }
}
